.page {
  margin: 20px auto;
  width: 800px;
}

a {
  color: #222;
}

a:hover {
  text-decoration: underline;
}

input {
  padding: 10px;
  width: 30px;
  outline: none;
  border: 1px solid #dddddd;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

button:hover {
  color: #222;
}

*:focus {
  outline: none;
}