doctype html
html(lang='en')
  head
    title web
    link(rel='stylesheet', href='./css/picnic.min.css')
    link(rel='stylesheet', href='./css/my.css')
    //- meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="./js/three.js")
    script(src="./js/ConvexGeometry.js")
  body
    main.intro

      h1 Phase Elasticity

      .flex.two
        form.half
          select.flex
            option(select='selected') Select type (crystal / symmetry)
              option(value='cubic') cubic
            option(value='hexagonal') hexagonal
            option(value='tetragonal') tetragonal
            option(value='trigonal') trigonal
            option(value='orthorombic') orthorombic

          p
          each row in [0, 1, 2, 3, 4, 5]
            .flex.six
              each col in [0, 1, 2, 3, 4, 5]
                input(name=`${row}${col}`)
          .flex
            button(type='button' onclick='prefill(null)') Prefill
            button(type='button' onclick='saveLocaly()') Save
            button(type='button' onclick='sendMatrix()') Submit

      hr

      div(id='Ys')
      div(id='Ys2')

    script(src='./js/helpers.js')    
    script(src='./js/plotly-latest.js')
