version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    branches:
      only:
        - master

    steps:
      - checkout
      - run:
          name: 'Build'
          command: |
            npm i
            npm run build
          working_directory: ~/project/react-app
      
      - run:
          name: 'Deploy build'
          command: |
            sudo apt install -y rsync
            ssh-keyscan -H $DEV_SERVER >> ~/.ssh/known_hosts
            rsync -avh ~/project/react-app/build/ root@$DEV_SERVER:/usr/share/nginx/html --delete
            ssh -t root@$DEV_SERVER "systemctl restart nginx"
