version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest

    branches:
      only:
        - dev

    steps:
      - checkout
      - run: sudo apt install -y rsync
      - run: |
          npm i
          npm run build
      - run: ssh-keyscan -H $DEV_SERVER >> ~/.ssh/known_hosts
      - run: rsync -avh build/ root@$DEV_SERVER:/usr/share/nginx/html --delete
