th {
  color: #000;
  background-color: #fff;
  padding: 0.1em;
}

td {
  line-height: normal;
  padding: 0.1em;
}

.label {
  margin-left: 0;
}

.badge {
  position: relative;
}

.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  padding: .2em .5em;
  top: -5px;
  right: -5px;
  background: #2ecc40;
  color: white;
  text-align: center;
  line-height: 1.3;
  font-size: 0.6em;
  border-radius: .2em;
}

input[disabled] {
  background: #dcdcdc
}