.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main.container {
  margin: 7em 0 2em 0;
  flex: 1;
}

span.nobr {
  white-space: nowrap;
}

.label {
  margin-left: 0;
}

.handPointer {
  cursor: pointer;
  cursor: hand;
}

.ui.buttons {
  display: flex;
}
