.navigation h1 {
  display: inline;
}

.navigation ul {
  display: inline;
  margin: 0;
  float: right;
  list-style: none;
}

.navigation li {
  display: inline;
  padding: 5px;
}

.navigation hr {
  width: 100%;
}

